
// Site Colors
$color-pink: #9d5777;
$color-blue: #669db9;
$color-primary-nav-text: #515667;
$color-welcome-border: #d4dce0;
$color-table-wrapper-bg: #d4dce0;
$color-table-title-text-shadow: #105071;
$color-table-header-text: #23546c;
$color-table-row-inner-shadow: #86979f;
$color-table-row-even: #fbfeff;
$color-table-row-odd: #f4f9fc;
$color-table-body-text: #86979f;
$color-table-column-border: #dde5e9;
$color-sidebar-bg: #f1f6f8;
$color-sidebar-heading: #55869f;
$color-sidebar-paragraph: #88adbf;
$color-staff-bio-title: #9dc0d2;
$color-staff-bio-description: #afcedd;
$color-form-field-inactive-bg: #f1f1f1;
$color-form-field-inactive-shadow: #e4e4e4;
$color-form-field-active-bg: #f8fbfd;
$color-form-field-active-shadow: #e1e7eb;
